<html>
<head>
  <%- include('template/head') %>
</head>

<%- include('template/navbar') %>


<div class="container mx-auto mt-3" style="width: 100%;">
  <% if (errorMessage.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= errorMessage %>
  </div>
  <% } %>
  
  <% if(username) { %>
  <form method="POST" action="/comments">
    <div class="form-group">
      <div class="text-dark">留言內容</div>
      <textarea name="content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">提交</button>
  </form>
  <% } else { %>
    <div class="alert alert-warning" role="alert">留言請先登入</div>
  <% } %>
  
  <div class="card-container d-flex flex-wrap">
    <% comments.forEach(function(comment) { %>
      <div class="card m-2" style="width: 18rem; height: 16rem;">
        <div class="card-header">
          <h5 class="card-title"><%= comment.nickname %></h5>
          <h6 class="card-subtitle text-muted"><%= moment(comment.created_at).format(shortDateFormat) %></h6>
          <% if (username === comment.username) {%>
          <a href="/update_comments/<%= comment.id %>" class="card-link">編輯</a>
          <a href="/delete_comments/<%= comment.id %>" class="card-link">刪除</a>
          <% } %>
        </div>
        <div class="card-body" style="overflow:scroll; overflow-x:hidden;">
          <p class="card-text" ><%= comment.content %></p>
        </div>
      </div>
    <% }) %>
  </div>

</div>
</html>